@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #2e3a47;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

option:disabled {
  color: gray;
  opacity: 0.1;
}

/* Start Date Picker  */
/* ::-webkit-calendar-picker-indicator{
  background-color: #ffffff;
  padding: 3px;
  cursor: pointer;
  border-radius: 3px;
} */
/* End Date Picker  */