@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: #2E3A47;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


/* reset check box */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  background-color: #2362BA;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
/* END reset check box */

h1 {
  font-size: 32px; 
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

.ProseMirror {
  padding: 5px;
  height: 100%;
}

.ProseMirror a {
  text-decoration: underline;
  color: #2362BA;
}